body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(52, 152, 219);
    background-size: cover;
    background-position:center ;
    overflow: hidden;
    text-align: center;
}
.signup{
    width: 350px;
    padding: 20px;
    margin: 8% auto 0;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(236, 240, 241);
   margin-top: 10px;
    
}
img{
    width: 80px;
   
}
.signup h1{
    margin: 0px;
    padding-bottom: 5px;
    color: rgb(109, 142, 214) ;
}
.input-box{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 2px;
    border-radius: 20px ;
    border: 1px solid rgb(52, 152, 219) ;
    outline: none;
     
}
.input-box:focus,
.input-box:valid{
    border:2px solid rgb(52, 152, 219);
}
.signup-btn{
    width: 80%;
    padding: 10px ;
    margin: 10px 0px;
    border-radius: 20px;
    outline: none;
   border-color: rgb(201, 201, 241);
   background-color:rgb(52, 152, 219);
   box-shadow: -4px 3px 8px rgb(52, 152, 219);
    cursor: pointer;
}
.facebook-btn{
    width: 80%;
    padding: 10px ;
    margin: 10px 0px;
    border-radius: 20px;
    outline: none;
   border-color: rgb(201, 201, 241);
   background-color:rgb(52, 152, 219);
   box-shadow: -4px 3px 8px rgb(52, 152, 219);
    cursor: pointer;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px ;
    width: 80%;
}
.or{
    width: 25px;
    background-color: rgb(223, 249, 251);
    margin: -20px auto 10px;
}
/*
.signup-btn:hover{
  background-color:rgb(135, 218, 241);
  box-shadow: 4px 3px 8px rgb(56, 63, 66);
}
.facebook-btn:hover{
    background-color:rgb(135, 218, 241);
  box-shadow: 4px 3px 8px rgb(56, 63, 66);
}*/
@media screen and (max-width:550px){
    .signup{
        width: 80%;
        border: none;
    }
    body{
         background-color: rgb(236, 240, 241);
         
    }
}

    
